@import 'media';

footer{
    text-align: right;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet{
        text-align: center;
        font-size: 16px;
        flex-direction: column;
    }
    @include mobile{
        text-align: center;
        font-size: 12px;
        flex-direction: column;
    }
}

.footer--links{
    margin-right: 15px;
}

.logos{
    width: 300px;
    @include tablet{
        width: 300px;
    }
    @include mobile{
        width: 250px;
    }
}