@import 'media';
@import 'colors';

footer{
    text-align: right;
    font-size: 20px;
    justify-content: space-between;
    @include tablet{
        text-align: center;
        font-size: 16px;
        flex-direction: column;
    }
    @include mobile{
        text-align: center;
        font-size: 12px;
        flex-direction: column;
    }
}

.footer--links{
    margin-right: 15px;
    color: $Mid-Gray;
}

.logos{
    padding: 10px 10px;
    width: 300px;
    @include tablet{
        padding: 5px 5px;
        align-self: center;
        width: 300px;
    }
    @include mobile{
        width: 250px;
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    @include tablet{
        flex-direction: column;
        justify-content: center;
    }
}

.links{
    padding-top: 25px;
}