@import 'navbar';
@import 'header';
@import 'middle1';
@import 'middle2';
@import 'middle3';
@import 'middle4';
@import 'footer';


*{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: $Mid-Blue;
}

.containerWide{
    margin-left: 10%;
    margin-right: 10%;
    @include tablet{
        margin-left: calc(10px + 2%);
        margin-right: calc(10px + 2%);
    }
}

.containerNarrow{
    margin-left: 200px;
    margin-right: 200px;
    @include tablet{
        margin-left: 20px;
        margin-right: 20px;
    }
}