@import 'navbar';
@import 'header';

*{
    margin: 0;
}

.containerWide{
    margin-left: 100px;
    margin-right: 100px;
    @include tablet{
        margin-left: 10px;
        margin-right: 10px;
    }
}