    @import 'colors';
    
    .middle2{
    background-color: $Mid-Blue;
}

.subtitleMidle2{
    color: white;
}

.citiesPics{
    margin: 0;
    padding: 0;
    width: 240px;
    height: 160px;
    flex: none;
    display: inline-block;
}

.cityTitle{
    flex: none;
    display: inline-block;
    color:black;
    font-size: 20px;
}

.blockDown{
    height: 150px;
    margin: 0;
    padding: 0;
    background-color: white;
}

.cityPrice{
    color: gray;
    margin-bottom: 20px;
}

.bookNow{
    margin: 50px 0 50px 0;
    font-size: 20px;
}

.bookInfo{
    margin-top: 10px;
    margin-left: 10px;
}