@import 'colors';
@import 'media';

.m4{
    background-color: $Dark-Blue;
    padding-bottom: 40px;
}
.middle4{
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.quality{
    text-align: center;
    font-size: 14px;
    color: white;
}

.travel{
    text-align: center;
    font-size: 32px;
    color: $Light-Blue;
}

.text{
    color: white;
    text-align: center;
}

.containerStrait{
    margin: auto;
    max-width: 70%;
}

.viewServices{
    cursor: pointer;
    margin-top: 20px;
    text-align: right;
    color: $Light-Blue;
    text-decoration: dashed underline;
    @include mobile{
            text-align: center;
    }
}

.tabControl{
    display: flex;
    flex-direction: column;
    .tabLinks{
        padding: 0;
        display: flex;
        list-style: none;
        @include mobile{
            display: none;
        }
        .tabLink-item{
            width: 33.33%;
            background-color: $Light-Gray;
            box-sizing: border-box;
            text-align: center;
            padding: 20px;
            font-size: 28px;
            color: gray;
            border-right: 2px solid $Mid-Gray;
            &:last-child{
                border-right: none;
            }
        }
        .tabLink-active{
            background-color: white;
            border-top: 6px solid $Light-Blue;
            font-weight: bold;
            color: $Mid-Blue;
        }
    }
    .content{
        .tabContent{
            padding: 20px;
            background-color: white;
        display: none;
        @include mobile{
            display: block;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        article{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @include mobile{
                grid-template-columns: minmax(0,1fr);
            }
        }
        }
        .tabContent-active{
            display: block;
        }

    }
}

.kidImage{
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.lists{
    color: $Dark-Blue;
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    *{
        padding: 10px;
    }
    @include mobile{
        align-items: center;
    }
}

.listsUnabled{
    color: $Mid-Gray;
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    *{
        padding: 10px;
    }
    @include mobile{
        align-items: center;
    }
}

.mobileOnly{
    display: none;
    @include mobile{
        display: block;
    }
}

.tabTitle{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.cross{
    color: $Mid-Blue;
}

.extraPay{
    margin: 0;
    padding: 0;
    width: 30px;
    @include tablet{
        width: 20px;
    }
}